<nav *ngIf = hidingFunc2() class=" fixed-top navbar navbar-expand-lg pt-4 pb-0 mb-0 shadowBox" >
  <a class="navbar-brand mb-0 ml-3" (click) = "setMenuNum(1)" href="#"><span class="heading">Seby Xavier</span></a>
  <div class="container mb-0 pb-0">
    <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(1)">
        <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 1"  [class.menu] = "!(menuNumNew == 1)" >Professional summary</span></a>
        <div *ngIf = "menuNumNew == 1" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
    </ul>
    <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(2)">
        <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 2"  [class.menu] = "!(menuNumNew == 2)">Projects</span></a>
        <div *ngIf = "menuNumNew == 2" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
    </ul>
    <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(3)">
        <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 3"  [class.menu] = "!(menuNumNew == 3)">Education</span></a>
        <div *ngIf = "menuNumNew == 3" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
    </ul>
    <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(4)">
        <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 4"  [class.menu] = "!(menuNumNew == 4)">About me </span></a>
        <div *ngIf = "menuNumNew == 4" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
    </ul>
    <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(5)">
        <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 5"  [class.menu] = "!(menuNumNew == 5)">Contact</span></a>
        <div *ngIf = "menuNumNew == 5" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146);" ></div>
    </ul>
  </div>
</nav>

<nav  *ngIf = !hidingFunc2() class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadowBox">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" href="#" (click) = "setMenuNum(1)"><span class="heading">Seby Xavier</span></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="navbar-nav float-right text-right pr-3">

      <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(1)">
          <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 1"  [class.menu] = "!(menuNumNew == 1)" >Professional summary</span></a>
          <div *ngIf = "menuNumNew == 1" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
      </ul>
      <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(2)">
          <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 2"  [class.menu] = "!(menuNumNew == 2)">Projects</span></a>
          <div *ngIf = "menuNumNew == 2" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
      </ul>
      <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(3)">
          <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 3"  [class.menu] = "!(menuNumNew == 3)">Education</span></a>
          <div *ngIf = "menuNumNew == 3" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
      </ul>
      <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(4)">
          <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 4"  [class.menu] = "!(menuNumNew == 4)">About me </span></a>
          <div *ngIf = "menuNumNew == 4" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146)" ></div>
      </ul>
      <ul class="nav-item alignTop pb-0 mb-0" (click) = "setMenuNum(5)">
          <a class="nav-link" style="cursor: pointer;"><span [class.menuHighlighted] = "menuNumNew == 5"  [class.menu] = "!(menuNumNew == 5)">Contact</span></a>
          <div *ngIf = "menuNumNew == 5" class = "rounded pb-0 mb-0" style="height: 2px; background-color: rgb(17, 226, 146);" ></div>
      </ul>

      <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>




<div [class.container] = !hidingFunc() >
  <div class="contentDiv"style="height: 1000px;" >
    <div class="container">
      <div [@changeMenuNum1] ="menuNumNew" id="Professional" class="row">
        <div class="col-md-6 ml-0 mr-0 pl-0 pr-0">
          <div class="d-flex flex-column " style="height: 100%;">
            <div class="prof">
            </div>
            <div style="align-self: center;" class = "developer">
              Developer
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <p  >
              I am fascinated with technology and innovation and have always believed that the only advancement for 
              any civilization (or any company) is through advancing its technology. I have 
              pledged to myself that I should be a part of making this happen. And so, am ready to take up any 
              technical challenge and look through the end of it no matter what it takes, even if it requires 
              learning something completely new and out of my zone. 
            </p>
            <p>
              My main goal is to persevere and build a 
              conducive atmosphere for innovation and creativity which would positively mark a growth towards 
              success for myself and the organization.
            </p>
        </div>
      </div>
    </div>
    <div id="scrollToProjects"  class="menuDivSpacing"></div>
    <div id="Projects" [@changeMenuNum2] ="menuNumNew" class="opacityAnimate" >
        <div id="demo" class="carousel slide" style="color: white" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <!-- On This -->
          <div class="carousel-inner " >  
            <div class="carousel-item active">
              <div class="projectCards">
                  <div class="row" style="height: 100%">
                    <div class="col-md-4 ">
                      <div class = "rights"></div>
                    </div>
                    <div class="col-md-8 ">
                      <div class = "cardTitle">
                        RIGHTS
                      </div> 
                      <div class = "cardDesc container" style="margin-top: 50px">
                        <p>RIGHTS is abbreviated as 'Rights Information Gathering Handling And Tracking System'.
                          It's a project, internal to TCS, which is the way, accesses to resources (which are doors, software, etc) are managed.
                        </p>
                        <p>
                        Have worked on Oracle for the backend database, and java frameworks such as Spring and Hibernate.
                        Achieved efficiency and reduced redundancy by automating repeatable tasks by using technologies like R and python. 
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="projectCards">
                <div class="row" style="height: 100%">
                  <div class="col-md-3 ">
                    <div class = "insights"></div>
                  </div>
                  <div class="col-md-9 ">
                    <div class = "cardTitle">
                      Insights
                    </div> 
                    <div class = "cardDesc container" style="margin-top: 50px ;">
                      <p>
                        Insights was a reporting application, which, as the name suggests, provides insights into 'RIGHTS'.
                        Its had various kinds of reports, which would further increase the usability of RIGHTS.
                      </p>
                      <p>
                        Worked on PostgreSQL for the backend database, and server side technologies like Java server Faces couples with Jsp to render web interfaces.
                        Integrated Reporting technologies like eclipse BIRT with Java server Faces server technology for providing seamless web reporting services.
                        Contributed in the up gradation activity of server to Jboss 7 , by conducting POCs to test and verify backward compatibility .
                        Upgraded and have worked on Angular 6 and spring boot.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="projectCards">
                  <div class="row" style="height: 100%">
                    <div class="col-md-4 ">
                      <div class = "remember"></div>
                    </div>
                    <div class="col-md-8 ">
                      <div class = "cardTitle">
                        Remember
                      </div> 
                      <div class = "cardDesc container" style="margin-top: 50px">
                        <p>Remember was a personal project which is basically a social networking application.
                        </p>
                        <p>
                          Built it by using MySQL for the backend database.
                          Angular 6 with stompjs for WebSockets.
                          Spring and hibernate for the serverside, along with Json Web Token for security, 
                          Restful services from client to server and WebSocketMessageBroker of Spring.
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="projectCards">
                  <div class="row" style="height: 100%">
                    <div class="col-md-4 ">
                      <div class = "neuralNet"></div>
                    </div>
                    <div class="col-md-8 ">
                      <div class = "cardTitle">
                        Simple Neural Net
                      </div> 
                      <div class = "cardDesc container" style="margin-top: 50px">
                        <p>This is and educational project developed to understand the inner workings of a neural network. 
                          The library constructs a three layered neural network and allows you to specify the number of nodes in each layer. 
                          It then takes a list of values for inputs and outputs , and trains the the neural net using backpropogation.
                        </p>
                        <p>
                          It is basically a library through
                          which you can leverage the function of a neural network. The library is written in Javascript.
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="projectCards">
                  <div class="row" style="height: 100%">
                    <div class="col-md-4 ">
                      <div class = "Doodle"></div>
                    </div>
                    <div class="col-md-8 ">
                      <div class = "cardTitle">
                        Doodle Classifier
                      </div>
                      <div class = "cardDesc container" style="margin-top: 50px">
                        <p>This is a project created using a self made implementation of a neural network. It can classify doodles which are drawn on a
                          provided interface. The neural net is trained on the Google's quick draw data set, and is used to predict doodles drawn on 
                          a canvas.
                        </p>
                        <p>
                          It's coded using Javascript , using libraries like processing.js and p5.js and the Google's quick draw data set. 
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="projectCards">
                  <div class="row" style="height: 100%">
                    <div class="col-md-4 ">
                      <div class = "colorPred"></div>
                    </div>
                    <div class="col-md-8 ">
                      <div class = "cardTitle">
                        Color Predictor
                      </div> 
                      <div class = "cardDesc container" style="margin-top: 50px">
                        <p>Using a self coded neural network library have created a simple color predictor which learns the pattern of preference of the
                          background color over certain text , of a user and predicts his choice of color accordingly.
                        </p>
                        <p>
                          This is written in Javascript , uses
                          libraries like processing.js and p5.js for drawing on the screen. 
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
    </div>
    <div id="scrollToEducation" class="menuDivSpacing"></div>
    <div [@changeMenuNum3] ="menuNumNew" id="Education" class="opacityAnimate">
      <div class="row">
        <div class="col-lg-4 col-md-3">
          <div class="card engCard " (mouseenter) = "shadow(1)" (mouseleave) = "shadow(1)" [class.shadowBox2] = "shadowShow">
            <img class="card-img-top engineering" src="./assets/engineering.png" alt="Card image">
            <div class="card-body ">
              <span class="card-title eduTitles">Bachelor of Engineering</span>
              <p class="card-text eduText">M.V.G.R. College Of Engineering J.N.T.U, Kakinada 
                  <br>Bachelor of Information Technology 
                  <br>Secured 68%  
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="card interCard shadowBox2" (mouseenter) = "shadow(2)" (mouseleave) = "shadow(2)" [class.shadowBox2] = "shadowShow2">
            <img class="card-img-top intermediate" src="./assets/intermediate2.png" alt="Card image">
            <div class="card-body">
              <span class="card-title eduTitles">Intermediate Education</span>
              <p class="card-text eduText">Sri Chaitanya  Jr. College 
                  <br>MPC (Math , Physics , Chemistry)
                  <br>Secured 83.6%
              </p>
            </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-3">
            <div class="card schoolCard shadowBox2" (mouseenter) = "shadow(3)" (mouseleave) = "shadow(3)" [class.shadowBox2] = "shadowShow3">
              <img class="card-img-top school" src="./assets/school.png" alt="Card image">
              <div class="card-body">
                <span class="card-title eduTitles">Schooling</span>
                <p class="card-text eduText">Kotak Salesian School
                    <br>ICSE (Indian Certificate of Secondary Education)
                    <br>Secured 75.85%   
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="scrollToAbout" class="menuDivSpacing" style="align-content: center"></div>
    <div [@changeMenuNum4] ="menuNumNew" id="About" class="opacityAnimate container cardDesc2 " >
      
      <div class="bullet" style="float: left;"></div>
          Have an interest in explaining things in a much simpler way.
          Especially, when conversing with the clients, about functionality and technicalities.
      <br>
      <div class="bullet" style="float: left;"></div>
          I love to keep myself challenged by trying to implement new ideas.
          Have a great interest in Machine learning Algorithms, and am in the process of implementing them.
      <br>
      <div class="bullet" style="float: left"></div>
            Always attentive to the technological shifts happening of late, by trying to view as many keynotes and conferences.
            Also try to comprehend them at a high level.
      <br>  
      <div class="bullet" style="float: left;"></div>
            Have a quick learning mind set.
            With this mind set I have managed to learn music theory and the guitar, and various other computer technologies.
      <br>
      <div class="bullet" style="float: left;"></div>
          Date of Birth : 19 July,1995. Started working in Tata counsultancy services from August 2016 till date.
    </div>
    <div id="scrollToContact" class="menuDivSpacing"></div>
    <div [@changeMenuNum5] ="menuNumNew" id="Contact" class="row opacityAnimate container contactDtls" >
        <div class="col" style="margin-left: 20% ; margin-bottom: 20px">
        <div class="git " ></div>
        <a href="https://github.com/seby19" class="cntcLftMrgn" target="_blank" > https://github.com/seby19</a>
        </div>
        <br><br>
        <div  class="col">
        <div class="call "></div> <span class="cntcLftMrgn">7030190101 / 8885214028 </span>
        </div>
        <br><br>
        <div  class="col">
        <div class="mail"></div> <span class="cntcLftMrgn">sebyxavier19@gmail.com</span>
        </div>
    </div>
  </div>
</div>